fastapi==0.103.1
uvicorn==0.23.2
sqlalchemy==2.0.21
psycopg2-binary==2.9.7
python-dotenv==1.0.0
alembic==1.12.0
pydantic==2.4.2
pydantic-settings==2.0.3
python-multipart==0.0.6
python-dateutil>=2.8

# Pacchetti per i test
pytest==7.4.2
pytest-asyncio==0.21.1
httpx==0.25.0 
